@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lexend Deca';
  overflow: scroll;
  font-weight: 400;
  background-color: hsl(0, 0%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  margin: 80px auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
}

section {
  padding: 38px;
  max-width: 300px;
  padding-top: 50px;
  height: 500px;
}

.grid-link {
  position: absolute;
  width: 60%;
  text-align: center;
  top: 0.2rem;
  left: 2rem;
  border-radius: 0.2rem;
  padding: 0.6rem 2rem;
  text-decoration: none;
  font-weight: bold;
  background-color: #696cff;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section h1 {
  font-family: 'Big Shoulders Display';
  font-weight: 700;
  font-size: 42px;
  color: hsl(0, 0%, 95%);
  margin-top: 2rem;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  margin: 2rem 0 5rem 0;
  line-height: 1.7;
}

section a {
  text-decoration: none;
  background-color: hsl(0, 0%, 95%);
  text-align: center;
  padding: 12px 28px;
  border-radius: 30px;
  transition: 0.3s;
}

#sedans a {
  color: hsl(31, 77%, 52%);
}

#suvs a {
  color: hsl(184, 100%, 22%);
}

#luxury a {
  color: hsl(179, 100%, 13%);
}

#sedans a:hover,
#suvs a:hover,
#luxury a:hover {
  color: hsl(0, 0%, 95%);
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 95%);
  transition: 0.3s;
}

#sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0 0 10px;
}

#suvs {
  background-color: hsl(184, 100%, 22%);
}

#luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 10px 10px 0;
}

@media only screen and (max-width: 900px) {
  
  body{
    height: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #suvs {
    border-radius: 0 10px 10px 0;
  }
  
  
  #luxury {
    border-radius: 0 0 10px 10px;
  }
}

@media only screen and (max-width: 600px) {
  
  body {
    height: 1600px;
  }
  
  main {
    justify-content: center;
    align-items: center;
  }
  
  #sedans {
    border-radius: 10px 10px 0 0;
  }
  
  #suvs {
    border-radius: 0;
  }
  
  #luxury {
    border-radius: 0 0 10px 10px;
    
  }
}
